<div class="parallax">
  <div class="bg__foo">foo</div>
	<div class='front-text'>WeDesign strives to be a platform where aspiring and upcoming designers meet fashion-lovers who are always on the hunt for the newest trends.</div>
  <div class="bg__bar">baz</div>
		<div class='front-text'>It is a place for designers to show of their work and to participate in fashion challenges. Supported by their fans, the winning designs will be manufactured and made available for purchase at WeDesign.</div>
	  <div class="bg__baz"></div>	
		<div class='front-text'>WeDesign offers high quality, limited-production fashion in the latest styles. We give you unprecedented access to new and upcoming talent before they get a chance to hit the runways. We put you in control and allow you to chose the designs you want to wear. WeDesign allows you to stand out from the crowd.</div>
  <div class="bg__bazz">bazz</div>
</div>
