<div class="left">
	<div class="black"></div>
	<div class="pink"></div>
	<div class="black"></div>
</div>
<div class="right">
	<div class="pink"></div>
	<div class="black"></div>
	<div class="pink"></div>
</div>