<div class="left">
	<div class="red"></div>
	<div class="blue"></div>
	<div class="green"></div>
</div>
<div class="right">
	<div class="pink"></div>
	<div class="black"></div>
	<div class="yellow"></div>
</div>