<div class="parallax">
  <div class="bg__foo">foo</div>
	<div class='front-text'>WeDesign aims to be a platform between aspiring and upcoming designers and those fashion-lovers who are always on the hunt for the newest trends.</div>
  <div class="bg__bar">baz</div>
		<div class='front-text'>It is a place for designers to show of their work and to participate in fashion challenges. Backed up my their fans the winning designs will manufactured and made available for purchase on the website.</div>
	  <div class="bg__baz"></div>	
		<div class='front-text'>It is a place for designers to show of their work and to participate in fashion challenges. Backed up my their fans the winning designs will manufactured and made available for purchase on the website.</div>
  <div class="bg__bazz">bazz</div>
</div>
