<form>
	<div class="input-group">
	  <input type="text" 
					 class="form-control" 
					 name="comment[body]" 
					 id="comment_body" 
					 placeholder="Leave a comment">
	  <span class="input-group-btn">
			<button class="btn btn-default pink-hover" type="submit">Add!</button>
		</span>
	</div>
</form>

