<!-- <div id="catwalk-background"><img src="/assets/empty-catwalk.png" id="catwalk"></div> -->

<div id="sign-up-form">
	<h1>Sign Up!</h1>

	<form action="/users" method="POST">
		<input type="hidden"
					 name="authenticity_token"
					 value="<%= form_authenticity_token %>">
		<label for="user_name">Name</label>
		<div class="input-group input-group">
		  <span class="input-group-addon">@</span>
			<input type"text" name="user[name]" id="user_name" class="form-control" placeholder="First name">
		</div>
		<label for="user_email">Email</label>
		<div class="input-group input-group">
			<span class="input-group-addon">@</span>
			<input type"text" name="user[email]" id="user_email" class="form-control" placeholder="Email">
		</div>
		<label for="user_password">Password</label>
		<div class="input-group input-group">
			<span class="input-group-addon">@</span>
			<input type="password" name="user[password]" id="user_password" class="form-control" placeholder="Password">
		</div>
		<br>
		<input type="submit" value="Sign Up!" class="btn default-btn">
		<%= link_to "Sign in", new_session_url, class: "navbar-text" %>
	</form>
</div>
