<div class='row'>
	<div class='col-xs-5'>
		<div class="design-img-large"><img src="<%= design.get('filepicker_url') %>"></div>
	</div>
	<div class='col-xs-5'>
		<div class='design-information'>
			<ul class="nav nav-pills" role="tablist">
			  <li role="presentation" class="active info"><a href="#">Overview</a></li>
			  <li role="presentation" class="pre-orders"><a href="#">Pre-orders<span class="badge order-count"><%= preOrderCount %></span></a></li>
			  <li role="presentation" class="comments"><a href="#">Comments<span class="badge comments-count"><%= commentsCount %></span></a></li>
			</ul>
		
			<div class="design-content">
			</div>
		</div>
	</div>
</div>