<div class="user-image"><img src="http://placekitten.com/g/50/50" class="img-rounded"></div>
<div class="comment-info">
	<strong><%= author.escape('name') %></strong> <i><%= timestamp %><i><br>
	<%= comment.escape('body') %>
</div>