<h3><%= design.escape('title') %></h3>
<p>Designed by DESIGNER NAME</p>
<p>SHORT DESCRIPTION</p>

<div>XXXX<br>pre-orders</div>
<div>(X/xmat)<br>rank</div>
<div>XXXX<br>days to go</div>
<div>Button to preorder</div>