<div class='row'>
	<div class='col-xs-8'>
		<div class="challenge-description">
			<h2><%= challenge.escape('name') %></h2>
			<h5><%= challenge.escape('description') %><h5>
			<h6>The challenge will close on <%= challenge.escape('end_date') %></h6>
		</div>
	</div>
	<div class='col-xs-4'><div class="submit-design">
		<img class="mannequin" src="assets/mannequin2.jpg">Submit a design
	</div></div>
</div>
<div class='row'>
	<div class='col-xs-12'>

		<div class="submitted-designs"></div>
	</div>
</div>