<div class="challenge-description">
	<div>Image</div>
	<div>Description</div>
</div>
<button class="submit-design btn btn-default">Submit my own design</button>


<div class="submitted-designs"></div>