<div class='row'>
	<div class='col-xs-2'><img src="assets/<%= challenge.escape('background_img') %>"></div>
	<div class='col-xs-6'><div class="challenge-description"></div></div>
	<div class='col-xs-4'>Button</div>
</div>
<div class='row'>
	<div class='col-xs-12'><div class="panel panel-default"><div class="panel-heading">Submitted Designs</div></div></div>
</div>
<div class='row'>
	<div class='col-xs-12'><div class="submitted-designs"></div></div>
</div>