/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";


div#content {
//	margin: 10px;
	margin: 0px;
	box-sizing: border-box;
}

img#catwalk {
	width: 100vw;
	position: fixed;
	top: 40px;
	z-index: -10;
}

div#sign-up-form, div#sign-in-form, div#session-form {
	background-color: #F8F8F8;
	border: 1px solid lightgrey;
//	background-image: url(blackdress.jpg);
//	opacity: 0.9;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	margin-top: 100px;
	width: 500px;
	border-radius: 5px;
	padding: 10px;
	display: none;
}


.nav > li > a.wedesign-nav-bar {
	padding: 0px;
	color: #9d9d9d;
}

.nav > li > a.wedesign-nav-bar:hover {
	color: white;
	background-color: transparent;
}

nav.navbar-inverse {
	border-radius: 0;
}

@font-face { font-family: Couture; src: url('fonts/couture-bld.otf'); } 

//div.welcome-text {
//	font-family: Couture;
//	font-size: 48px;
//  position: fixed;
//  top: 60%;
//  left: 50%;
//  -webkit-transform: translate(-50%, -50%);
//  transform: translate(-50%, -50%);
//}

.catwalk-slide {
	width: 100vw;
	display: none;
	position: absolute;
	top: 40;
	left: 0;
	z-index: 1;
}

div.links-container {
	height: 40px;
	background-color: black;
}

div.link-to-sign-up, div.link-to-sign-in {
	float: right;
	margin: 10px 20px 10px 0px; 
}

div.link-to-sign-up > a, div.link-to-sign-in > a, p.navbar-text > a {
	font-size: 14px;
	color: #9d9d9d;
	z-index: 10;
}

div.link-to-sign-up > a:hover, div.link-to-sign-in > a:hover, p.navbar-text > a:hover {
	font-size: 14px;
	color: white;
	text-decoration: none;
}

div.session-img > img {
	height: 200px;
//	width: 200px;
	float: right;
//  background-image: url(BWdrawing.jpg);
}

div.form-section {
	width: 300px;
	float: left;
}

div.tab-content {
	padding: 10px;
	background-color: white;
	border-left: 1px solid lightgrey;
	border-right: 1px solid lightgrey;
	border-bottom: 1px solid lightgrey;
}

.pink-hover:hover {
	background-color: #ff87c3;
}
//collection style

img.drawing-man {
	display: relative;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid lightgrey;
}

div.wrapper {
	margin: 10px;
}
