// Place all the styles related to the challenges controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.challenge-img {
	position: absolute;
	right: 0;
//	bottom: 10px;
	width: 275px;
	height: 275px;
	z-index: -1;
	overflow: hidden;
}

//div.challenge-img img {
//	height: 150px;
////	opacity: 0.4;
//  position: relative;
//  z-index: -1;
//}

div.challenge-text {
	position: absolute;
	left: 0;
	bottom: 0;
	z-index: 10;
}

div.challenge-container {
	width: 275px;
	height: 275px;
	float: left;
	position: relative;
//	border: 2px solid grey;
	background-color: #333333;
	color: white;
	border-radius: 2px;
	margin: 10px;
	overflow: hidden;
}

div.challenge-container:hover {
//	background-image: url('shorts.jpg');
background-color: transparent;
	color: transparent;
	content: "";
}

//div.challenge-img img:hover {
//	height: 150px;
//	opacity: 0;
//}

div.challenge-description {
	height: 200px;
}

div.challenge-img-big {
	height: 200px;
	width: 200px;
	margin: 10px;
}

.nav-pills > .active > a,
.nav-pills > .active > a:hover,.nav-pills > li > a:hover {
	text-decoration: none;
	font-weight: bold;
	border-radius:0px;
	border-bottom-width: 4px;
	border-bottom-style: solid;
	border-bottom-color: #FFD700;
	color: #000 !important;
	background-color: transparent !important;
}

.nav-pills > li > a {
  border-radius: 0px;
	font-weight: bold;
}

div.submission-form {
	height: 300px;
	width: 400px;
	display: none;
	z-index: 10;
	background-color: #F5DDDA;
  position: absolute;
	left: 50%;
	top: 50%;
	margin:-150px 0 0 -200px;
	padding: 10px;
	border: 1px solid #E4D3D2;
	border-radius: 5px;
}

.challenge-show-page {
	position: relative;
}

div.image-upload, div.design-details {
	float: left;
}

div.image-upload {
	width: 250px;
}

span.glyphicon-remove {
	opacity: 0.5;
	font-size: 18px;
	float: right;
}