// Place all the styles related to the challenges controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.challenge-img {
	position: absolute;
	right: 0;
	bottom: 10px;
	height: 150px;
}

div.challenge-img img {
	height: 150px;
	opacity: 0.4;
}

div.challenge-text {
	position: absolute;
	left: 0;
	bottom: 0;
}

div.challenge-container {
	width: 175px;
	height: 175px;
	float: left;
	position: relative;
	border: 2px solid grey;
	border-radius: 2px;
	margin: 10px;
}

div.challenge-text {
	z-index: 10;
}

div.challenge-container:hover {
	background-color: pink;
}

div.challenge-description {
	height: 200px;
//	width: 200px;
//	border: 1px solid lightgrey;
}

div.challenge-img-big {
	height: 200px;
	width: 200px;
	margin: 10px;
}

.nav-pills > .active > a,
.nav-pills > .active > a:hover,.nav-pills > li > a:hover {
	text-decoration: none;
	font-weight: bold;
	border-radius:0px;
	border-bottom-width: 4px;
	border-bottom-style: solid;
	border-bottom-color: #FFD700;
	color: #000 !important;
	background-color: transparent !important;
}

.nav-pills > li > a {
  border-radius: 0px;
	font-weight: bold;
}

div.submission-form {
	height: 400px;
	width: 300px;
	display: none;
	z-index: 10;
	background-color: #F5DDDA;
  position: absolute;
	left: 50%;
	top: 50%;
	margin:-200px 0 0 -150px;
	padding: 10px;
	border: 1px solid #E4D3D2;
	border-radius: 5px;
//	transition: display 0.4s ease;
}

.challenge-show-page {
	position: relative;
	text-align: center;
}