// Place all the styles related to the designs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.challenges-design-index-item {
	display: inline-block;
	height: 250px;
	width: 120px;
	border: 1px solid grey;
	margin: 5px;
	padding: 10px;
	background-color: white;
}

div.challenges-design-index-item.in-active {
	display: none;
}

div.design-img {
	height: 175px;
	width: 100px;
	position: relative;
}

div.design-img img {
	max-height: 175px;
	max-width: 100px;
	vertical-align: bottom;
	position: absolute;
	bottom: 0;
	left: 0;
}

.clearfix {
  overflow: auto;
	vertical-align: middle;
}

div.designs {
	text-align: center;
	display: inline-block;
}

.submit-design {
	text-align: center;
}

img.mannequin {
	height: 150px;
}

div.submitted-designs {
	background-color: white;
//	border-radius: 0px 0px 10px 10px;
}

div.submitted-designs-row {
	background-color: #EFEFEF;
	border-radius: 10px; 
	text-align: center;
//	border-radius: 10px;
}

div.submitted-designs-section-title {
	text-align: center;
}

div.design-img-large img {	
	height: 450px;
}

div.design-img-large {	
	text-align: center;
}

//div.button-to-preorder {
//	width: 150px;
//	height: 50px;
//	background-color: #E4D3D2;
//	border-radius: 10px;
//}

div.design-information {
	position: relative;
}

div.pre-order-form {
	height: 400px;
	width: 300px;
	display: none;
	z-index: 10;
	background-color: #F5DDDA;
  position: absolute;
	left: 50%;
	top: 50%;
	margin:-200px 0 0 -150px;
	padding: 10px;
	border: 1px solid #E4D3D2;
	border-radius: 5px;
}

p#pre-order-count {
	font-size: 48px;
	color: #ff69b4;
	font-weight: bold;
	display: inline-block;
	margin: 0;
}

p#percent-votes {
	font-size: 36px;
	color: #ff87c3;
	font-weight: bold;
	display: inline-block;
	margin: 0;
}

p#days-left {
	font-size: 48px;
	color: #ff87c3;
	font-weight: bold;
	display: inline-block;
	margin: 0;
}

button.button-to-preorder {
	margin-top: 20px;
}

.list-pre-order-users {
	margin-top: 20px;
}