// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
div.wrapper {
//	height: 500px;
//	overflow: scroll;
}

div.pink {
	background-color: pink;
	width: 500px;
	height: 500px;
}

div.black {
	background-color: black;
	width: 500px;
	height: 500px;
}

div.left {
	float: left;
	height: 500px;
	overflow: scroll;
}

div.right {
	float: left;
	height: 500px;
	overflow: scroll;
}

