// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// setting base styles to image containers
[class*="bg__"] {
  height: 50vh;

  text-indent: -9999px;

  /* fix background */
  background-attachment: fixed;

  /* center it */
  background-position: center center;

  /* Scale it nicely to the element */
  background-size: cover;

  /* just make it look a bit better ;) */
  &:nth-child(2n) {
    box-shadow: inset 0 0 1em #111;
  }
}

.bg__foo {
  background-image: url(Background1.jpg);
	 box-shadow: inset 0 0 1em #111;
}

.bg__bar {
  background-image: url(Background2.jpg);
	box-shadow: inset 0 0 1em #111;
}

.bg__baz {
  background-image: url(Background6.jpg);
	box-shadow: inset 0 0 1em #111;
}

.bg__bazz {
  height: 100vh;
  background-image: url(Background3.jpg);
	box-shadow: inset 0 0 1em #111;
//  background-image: url(
//    http://sales-and-marketing-solutions.com/wp-content/uploads/2013/06/website-background-pattern.jpg
//  );
}

div.front-text{
	padding: 75px 20px 75px 20px;
	font-size: 32px;
	color: grey;
	background-color: #F8F8F8;
	text-align: center;
}

nav.navbar-inverse {
	margin-bottom: 0px;
}
