// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.user-container {
	border-top: 1px solid lightgrey;
	margin: 5px;
}

div.user-image {
	display: inline-block;
	vertical-align: middle;
	margin: 5px;
}

div.user-info, div.comment-info {
	display: inline-block;
	vertical-align: middle;
	margin: 5px;
}

