<nav class="navbar navbar-inverse" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#home">
        <p>WeDesign</p>
      </a>
    </div>
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navnar-nav">
				<% if logged_in? %>
					<li class="navbar-left navbar-text"><a href="#home" class="wedesign-nav-bar">Home</a></li>
					<li class="navbar-left navbar-text"><a href="#challenges" class="wedesign-nav-bar">Challenges</a></li>
					<li class="navbar-left navbar-text"><a href="#collection" class="wedesign-nav-bar">Collection</a></li>
					<li class="navbar-right"><p class="navbar-text"><%= link_to "Sign out", session_url, method: :delete %></p></li>
					<li class="navbar-right"><p class="navbar-text">Signed in as <%= @current_user.name %></p></li>
				<% else %>
					<li class="navbar-right"><%= link_to "Sign in", new_session_url, class: "navbar-text" %></li>
					<li class="navbar-right"><%= link_to "Sign up", new_user_url, class: "navbar-text" %></li>
				<% end %>
			</ul>
	</div>
  </div>
</nav>






